.git
.gitignore
**/.turbo
**/.angular
.pnpm-store
**/node_modules
**/dist
**/*.tsbuildinfo
coverage
tmp
logs
*.log
.env
.env.*
!.env.example
Dockerfile
docker-compose*.yml
README.md
docs
**/.DS_Store
**/Thumbs.db
